@import "~bootstrap/scss/bootstrap.scss";

.stem{
    width: 3rem;
    height: 10rem;
    background-color: black;
}

.thebox{
    width: 15rem;
    height: 27rem;
    background-color: black;
    border-radius: 5%;
}

.circle {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.stop {
    background: red;
}

.warning {
    background: yellow;
}

.go {
    background: green;
}

.glow {
    box-shadow: 0 0 60px #ffffff;
}